<section class="categorie-section cc">

  <!-- Section Heading -->
  <!-- <div class="sec-heading rotate-rl">Product <span> Categories</span></div> -->
  <!-- Section Heading -->

  <div>
    <!-- <div class="row">
          <div class="col-lg-12">
              <h2 class="sec-title">Product Categories</h2>
              <p class="sec-desc">
                  Sed ut perspiciatis unde omnis iste natus<br> er sit voluptatem accusantium dolore.
              </p>
          </div>
      </div> -->
    <div class="row">
      <div class="col-lg-1 col-md-4 ">
        <a href="#" class="single-cate">
          <i class="flaticon-smart-watch"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-drone"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-console"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-smartphone"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-television"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-headphones"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-photo-camera"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-wifi-router"></i>
        </a>
      </div>
      <div class="col-lg-1 col-md-4">
        <a href="#" class="single-cate">
          <i class="flaticon-pc"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- shpage -->
  <div class="cate-shage"><img src="assets/images/home/shape1.png" alt=""></div>
</section>
