<!-- Slider Start -->
<section>


<h1></h1>
  <div class="rev_slider_wrapper">
    <div id="rev_slider_1" class="rev_slider fullwidthabannerwb" style="display:none;" data-version="5.4.1">
      <ul>
        <li class="rev-slidebg images-container">
          <img  class="hero-img" src="assets/images/wbr.jpg" alt="">
        </li>
        <li class="rev-slidebg images-container">
          <img class="hero-img" src="assets/images/wbr.jpg" alt="">
        </li>

      </ul>
    </div>
  </div>
</section>


