mat-grid-tile
{
  border: 2px solid lightgrey ;
  border-radius:10px ;
}

.images-container{
  position:relative;
  height: 300px;

}

.home-page-product-image{
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



.shop-fullwidth h5{
  /* background-color: black; */
  font-weight: 600;
  font-family: sans-serif;
}
.shop-fullwidth h4{
  /* background-color: black; */
  font-weight: 600;
  font-family: sans-serif;
}

/* // "bootstrap": "^5.2.3", */
.cc {
  width: 1600px !important;
  max-width: 1600px;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
}
