.product-information{
  font-size: medium;
}


.images-container{
  height: 500px;
  position: relative;
}

.product-zoom-image{
  max-width: 80%;
  max-height: 80%;
  width: 60%;
  height: 80%;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

}
.product-zoom-imagee{


  width: 85% !important;
  height: 100% !important;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

}

