

      <!-- History Section Start -->
      <section class="history-section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7">
                      <h3 class="sec-title">Our History</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda consequatur velit! Repellendus libero sint reprehenderit, perspiciatis vitae numquam sapiente tempora quibusdam, similique veniam deleniti autem dicta esse iusto asperiores!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda consequatur velit! Repellendus libero sint reprehenderit, perspiciatis vitae numquam sapiente tempora quibusdam, similique veniam deleniti autem dicta esse iusto asperiores!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda consequatur velit! Repellendus libero sint reprehenderit, perspiciatis vitae numquam sapiente tempora quibusdam, similique veniam deleniti autem dicta esse iusto asperiores!

                      </p>
                      <a href="#" class="goru-btn">start now</a>
                  </div>
                  <!-- <div class="col-lg-5">
                      <div class="history-thumb">
                          <img src="assets/images/about/1.jpg" alt="">
                      </div>
                  </div> -->
              </div>

          </div>
      </section>
      <!-- History Section End -->

      <!-- Service Section Start -->
      <section class="service-section service-ab">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="single-service">
                          <img src="assets/images/home/truck2.png" alt="">
                          <h4>100% Free Shipping</h4>
                          <p>We ship all our products for free as long as you buying within the USA.</p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-service">
                          <img src="assets/images/home/headphone2.png" alt="">
                          <h4>24/7 Support</h4>
                          <p>Our support team is extremely active, you will get response within 2 minutes.</p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-service">
                          <img src="assets/images/home/undo2.png" alt="">
                          <h4>30 Day Return</h4>
                          <p>Our 30 day return program is open from customers, just fill up a simple form.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>


      <footer class="footer-01 inner-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <aside class="widget about-widget">
                <p>
                  Sed ut perspiciatis unde omnis iste natus er sit voluptatem accusantium dolore.ea commo
                  do consequat. Duis aute irure dolor in re
                  prehenderit in.
                </p>
                <div class="ab-social">
                  <a href="#"><i class="twi-facebook"></i></a>
                  <a href="#"><i class="twi-twitter"></i></a>
                  <a href="#"><i class="twi-instagram"></i></a>
                  <a href="#"><i class="twi-linkedin"></i></a>
                </div>
              </aside>
            </div>
            <div class="col-lg-2 col-md-4 col-custome-1">
              <aside class="widget">
                <h3 class="widget-title">Useful Links</h3>
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Return Policy</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-lg-2 col-md-4 col-custome-2">
              <aside class="widget">
                <h3 class="widget-title">Account</h3>
                <ul>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Log in</a></li>
                  <li><a href="#">Sign Up</a></li>
                  <li><a href="#">Purchases</a></li>
                  <li><a href="#">Shipping Address</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-lg-2 col-md-6 col-custome-3">
              <aside class="widget contact-widget">
                <h3 class="widget-title">Contact & Address</h3>
                <p>
                  123 Street, Gandy Street, Syracuse
                  New York - 13221.
                </p>
                <p>
                  Phone: +1 315-234-3812
                  Email: info@shop.com
                </p>
              </aside>
            </div>
            <div class="col-lg-3 col-md-6 col-custome-4">
              <aside class="widget">
                <h3 class="widget-title">Subscribe</h3>
                <form class="subscribe-form" action="#" method="post">
                  <input type="email" name="email" placeholder="admin@mail.com">
                  <button type="submit">Subscribe<i class="twi-long-arrow-alt-right"></i></button>
                </form>
              </aside>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Ened -->

      <!-- Coryight Start -->
      <section class="copyright-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-5">
              <ul class="menu-link">
                <li><a href="#">Privacy Policy</a></li> |
                <li><a href="#">Terms of Service</a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-7">
              <div class="copys-text"><i class="twi-copyright"></i>Copyright E-SHOPIFY 2023 | All Rights Reserved</div>
            </div>
          </div>
        </div>
      </section>
