table
{
  width: 100%;
  box-shadow: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



table td{
  padding: 10px;
  text-align: center;
}

table th{
  padding: 10px;
  text-align: center;
}

.mat-column-Description {
  width: 55% !important;
  text-align:start !important;

}

.mat-column-Description th{
  text-align: center;
  background-color: blue;
}




.unit-price{

  color: #7d7d7d;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 0;
}


.cart-totals h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700 !important;
}

.coupon h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700 !important;
}

.cart-subtotal th{
  float: left;
}
.order-total th{
  float: left;
}
.woocommerce-Price-amount{
  float: right;
}


.btnn{
  padding: 0 66px !important;
}
